main#main-body {
    display: block;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

p#title{
    font-size: 22px;
    text-align: left;
    font-weight: bold;

    margin-bottom: 5px;
}

p#text{
    font-size: 16px;
    text-align: justify;
}