header#main-header {
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
}

div#bg-header {
    /* For The Background image */
    background-image: url('../../img/connections.jpg');
    background-color: #25a520;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p#text-header {
    font-size: 92%;
    font-weight: bold;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}